
<!DOCTYPE html>
<html>
<head>
    	<meta charset="UTF-8">
	<title>Bank</title>
  <script src="/js/login.js" type="application/javascript"></script>
</head>

<body>
<div class="container">
		<h2>Add user address in whitelist</h2>

        	<label for="name" class="col-lg-2 control-label">Home owners address</label>
        	<input id="createHomeAddres" type="text">

          <label for="name" class="col-lg-2 control-label">S's home</label>
          <input id="createHomeS" type="text">

        	<input value="Add home" id = "createHome" onclick="createHouse()" type="button">

	</div>

</body>
</html>
